<footer class="footer">
  <div class="container">
    <p
      class="text-center"
      data-lang-en="&copy; 2025 Hafizur R Manik. All rights reserved."
      data-lang-bn="&copy; ২০২৫ হাফিজুর রহমান মানিক। সর্বস্বত্ব সংরক্ষিত।"
    >
      &copy; ২০২৫ সিংগাইর ব্লাডলাইন। সর্বস্বত্ব সংরক্ষিত।
    </p>
  </div>
</footer>
