<main class="container page-content">
  <h2 class="page-title">অ্যাডমিন লগইন</h2>

  <div class="login-form">
    <div class="" id="msg" style="margin-bottom: 15px"></div>
    <form id="admin-login-form" class="card">
      <div class="form-group">
        <label for="username">ইউজারনেম:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="password">পাসওয়ার্ড:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit" class="button button-primary">লগইন করুন</button>
      <p id="login-error-message" class="error-message" style="display: none">
        ভুল ইউজারনেম বা পাসওয়ার্ড।
      </p>
    </form>
  </div>
</main>

<script>
  const f = document.getElementById("admin-login-form");
  const msg = document.getElementById("msg");
  f.addEventListener("submit", async (e) => {
    e.preventDefault();
    msg.innerHTML = "";
    const body = Object.fromEntries(new FormData(f).entries());
    const res = await fetch("/api/auth/login", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(body),
    });
    const data = await res.json();
    if (!res.ok) {
      msg.innerHTML = `<div class="error-message">${
        data.message || "Login failed"
      }</div>`;

      // Remove message after 10 seconds
      setTimeout(() => {
        msg.innerHTML = "";
      }, 3000); // 10000 ms = 10 seconds

      return;
    }
    // go to admin dashboard
    window.location = "/admin/dashboard";
  });
</script>
