<section class="container page-content">
  <h2 class="page-title">ডোনার রেজিস্ট্রেশন</h2>
  <div class="registration-form">
    <div id="msg" style="margin-bottom: 15px"></div>
    <form id="donor-registration-form" class="card">
      <div class="form-group">
        <label for="full-name">পুরো নামঃ</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="blood-group">রক্তের গ্রুপঃ</label>
        <select id="blood-group" name="bloodGroup" required>
          <option value="">নির্বাচন করুন</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mobile-number">মোবাইল নাম্বারঃ</label>
        <input
          type="tel"
          id="mobile-number"
          name="phone"
          pattern="01[0-9]{9}"
          placeholder="01XXXXXXXXX"
          required
        />
        <small>ফরম্যাট: 01XXXXXXXXX (১১ সংখ্যা)</small>
      </div>
      <div class="form-group">
        <label for="address">ঠিকানাঃ</label>
        <textarea id="address" name="address" rows="3" required></textarea>
      </div>
      <!-- <div class="form-group donated-checkbox">
        <input
          type="checkbox"
          id="donated_before"
          name="is_donated_before"
          value="1"
          class="form-check-input"
        />
        <label for="donated_before">পূর্বে রক্ত দিয়েছেন?</label>
      </div> -->

      <div class="form-group">
        <label for="donated_before">পূর্বে রক্ত দিয়েছেন?</label>
        <select id="donated_before" name="is_donated_before" required>
          <option value="0">হ্যাঁ</option>
          <option value="1">না</option>
        </select>
      </div>

      <button type="submit" class="button button-primary">
        রেজিস্ট্রেশন করুন
      </button>
    </form>

  </div>
</section>

