<section class="container text-center center-404" >
    <h1 >404</h1>
    <h2>দুঃখিত! এই পৃষ্ঠাটি পাওয়া যায়নি।</h2>
    <p>আপনি যে লিঙ্কটি খুঁজছেন তা বিদ্যমান নেই অথবা মুছে ফেলা হয়েছে।</p>
    <a href="/" class="button button-primary">হোম পেজে ফিরে যান</a>
</section>